<ion-content *ngIf="!maquinas" padding>
  <ion-title>Terminal {{ id }}</ion-title>
  <ion-list radio-group>
    <ion-list-header>
      Servidor Desconectado
      <ion-icon name="cod" item-start></ion-icon>
    </ion-list-header>
  </ion-list>
</ion-content>

<ion-content *ngIf="maquinas" padding>
  <ion-list>
    <ion-item *ngFor="let maq of maquinas; let i = index;">
     <ion-row center>
      <ion-col text-center>
      <button ion-button color="primary" round full large (click)="loguearOperador(maq)">{{ maq.nombre }}</button>
      </ion-col>
     </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
